*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
.firstancor{
    margin-left: 80%;
}
header a{
    margin-left: 10px;
    text-decoration: none;
    
}
.countainer{
    display: flex;
    margin-left: 40%;
    background-color: black;
    color: white;
    width: 23%;
    padding: 13px 17px;
    font-size: 20px;
     margin-top: 15%;
}
button{
     padding: 2px 10px;
     margin-top: 20px;
      margin-left: 45%;
      margin-top: 1%;
      cursor: pointer;
      color: white;
      border: none;
      border-radius: 3px;
      background-color: black;

    font-size: 20px;
}
button:hover{
    background-color: black;
    color: white;
}